.App {
  text-align: left;
  background-color: #9461F7;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 300px;
  max-width: 500px;
  margin: 40px;
}

.Title-Text {
  font-size: 28px;
}

.Logo {
  margin-bottom: -8px;
  width: 60px;
}

.Logo-Big {
  margin-bottom: -8px;
  margin-left: -12px;
  width: 80px;
}

.Logo-Bigger {
  margin-bottom: -8px;
  margin-left: -22px;
  width: 100px;
}

.Subtitle-Text {
  font-size: 24px;
}

.Small-Text {
  margin-top: 10px;
  font-size: 18px;
}

.Phone {
  font-weight: bold;
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid #6534CA;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Subinfo-Text {
  font-size: 12px;
  margin-top: 20px;
  color: #6534CA;
}

.Button {
  margin-top: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #6534CA;
  font-weight: bold;
  border-radius: 30px;
  transition: opacity 1s ease;
  opacity: 0.8;
  color: white;
  text-decoration: none;
}

.Button:hover {
  cursor: pointer;
  opacity: 1;
}


